* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: inter, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGE 1 */

.hero {
  width: 100%;
  height: 100vh;
  /* background: rgb(206, 206, 149); */
}

.header {
  /* background: rgb(202, 84, 123); */
  width: 100%;
  max-width: 1204px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 46px;
}

.menu {
  display: flex;
  /* background: coral; */
  gap: 24px;
}

.menu P {
  text-align: center;
  color: white;
  width: 100px;
}

.menu img {
  width: 20px;
  height: 20px;
}

.lang-selector {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}

.hero-titles {
  text-align: center;
  color: white;
}

.hero-titles p:nth-child(1) {
  font-family: "bebas Neue", sans-serif;
  font-size: 80px;
  line-height: 100%;
  color: #e8edf2b8;
}

.hero-titles p:nth-child(2) {
  font-family: "bebas Neue", sans-serif;
  font-size: 250px;
  line-height: 100%;
  color: #fdfdfefa;
}

.hero-titles p:nth-child(3) {
  font-family: "hanuman", sans-serif;
  font-size: 64px;
  line-height: 100%;
  color: #ffffffcc;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* PAGE 2 */

.location {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(158, 158, 232); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sublocation {
  width: 1202px;
  height: 370px;
  /* background-color: rgb(169, 149, 122); */
  display: flex;
  justify-content: space-between;
  position: relative;
}
.box {
  width: 276px;
  height: 370px;
  position: relative;
  border-radius: 40px;
  /* background-color: rgb(69, 61, 61); */
}

.location-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.terkh {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 0px 0px rgba(41, 114, 139, 0.25),
    -8px -8px 0px 0px rgba(31, 114, 170, 0.46);
}

.monastery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  box-shadow: 4px 4px 0px 0px rgba(41, 114, 139, 0.25),
    -8px -8px 0px 0px rgba(31, 114, 170, 0.46);
}

.khuvsgul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 0px 0px rgba(41, 114, 139, 0.25),
    -8px -8px 0px 0px rgba(31, 114, 170, 0.46);
}
.togoo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 0px 0px rgba(41, 114, 139, 0.25),
    -8px -8px 0px 0px rgba(31, 114, 170, 0.46);
}

.box:hover {
  background: #1f72aa75;
  /* background: #29728b40; */
}

.box p {
  color: white;
  width: 232px;
  line-height: 100%;
  text-align: center;
  font-family: "bebas Neue", sans-serif;
  font-size: 37px;
  font-weight: 400;
}

/* PAGE 3 */

.destination {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;

  justify-content: center;
}

.destination-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.destination-header {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  top: 120px;
  flex-direction: column;
  position: absolute;
}

.program {
  width: 1200px;
  height: 640px;
  /* background-color: rgb(234, 182, 115); */
  display: flex;
  justify-content: space-between;
  top: 264px;
  left: 120px;
  gap: 40px;
  position: absolute;
}
.locator {
  width: 513px;
  height: 640px;
  gap: 20px;
  /* background-color: rgb(81, 215, 190); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map-pin {
  width: 647px;
  height: 640px;
  border-radius: 30px;
  background-color: rgb(38, 77, 112);
}

.card {
  width: 513px;
  height: 112px;
  /* background: rgb(157, 154, 154); */
  border-radius: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card:hover {
  background: coral;
  border-radius: 3px solid white;
}

.card-inside {
  width: 483px;
  height: 48px;
  /* background: beige; */
  display: flex;
  justify-content: space-between;
}

.map-icon {
  width: 68px;
  height: 15px;
  gap: 12px;
  display: flex;
}

.program {
  display: flex;
  font-size: 12px;
  line-height: 100%;
  font-family: Montserrat, sans-serif;
}

.sukhee {
  font-family: Inter, sans-serif;
  /* width: 217px;
  height: 29px; */
  /* font-size: 24px; */
  line-height: 100%;
}

.card:nth-child(1) {
  background-color: #eee9d9;
}
.card:nth-child(2) {
  background-color: #8bb8c1cc;
}
.card:nth-child(3) {
  background-color: #aad8d7cc;
}
.card:nth-child(4) {
  background-color: #8bc0bdcc;
}
.card:nth-child(5) {
  background-color: #97cce0cc;
}

.day-selector {
  background-color: #f7f6f3;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  line-height: 100%;
}
